<section class="hero-section">
  <div class="hero-container">
    <!-- Слайдер -->
    <ul class="slider">
      <li class="slider-item active">
        <!-- Слайд №1 -->
      </li>
      <li class="slider-item">
        <!-- Слайд №2 -->
      </li>
      <li class="slider-item">
        <!-- Слайд №3 -->
      </li>
    </ul>

    <div class="container">
      <ul class="hero-social-list">
        <li>
          <a
            class="hero-link"
            href="https://www.youtube.com"
            target="blank"
            aria-label="Ссылка на Youtube"
            >Youtube</a
          >
        </li>
        <li>
          <a
            class="hero-link"
            href="https://www.instagram.com"
            target="blank"
            aria-label="Ссылка на Instagram"
            >Instagram</a
          >
        </li>
      </ul>

      <div class="hero-box">
        <p class="hero-description">Tailoring in Khmelnytsky</p>
        <h1 class="hero">M-SHARM</h1>
        <p class="hero-content">
          Ми експерти у своїй справі. Працюєм бистро, надійно та зі смаком.
        </p>
      </div>

      <ul class="slider-nav">
        <li class="slider-nav-item">
          <button
            class="slider-nav-button current"
            type="button"
            aria-label="Кнопка первого слайда"
            data-slide-to
          ></button>
        </li>
        <li class="slider-nav-item">
          <button
            class="slider-nav-button"
            type="button"
            aria-label="Кнопка второго слайда"
            data-slide-to
          ></button>
        </li>
        <li class="slider-nav-item">
          <button
            class="slider-nav-button"
            type="button"
            aria-label="Кнопка третьего слайда"
            data-slide-to
          ></button>
        </li>
      </ul>

      <ul class="slider-control">
        <li class="slider-control-item">
          <button
            class="slider-control-button btn-prev"
            type="button"
            aria-label="Кнопка переключения на предыдущий слайд"
          >
            Назад
          </button>
        </li>
        <li class="slider-control-item">
          <button
            class="slider-control-button btn-next current"
            type="button"
            aria-label="Кнопка переключения на следующий слайд"
          >
            Вперед
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
